.game-board {
    margin: 25px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.game-cell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.game-cell.isX {
    color: red;
}
.game-cell.isO {
    color: blue;
}
.game-reset {
    margin: 25px;
    padding: 15px 20px;
    display: inline-block;
    background-color: #6a5af9;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 16px;
}
.game-reset:hover {
    transition: all 0.5s linear;
    background-color: #8f89c9;
}
.game-winner {
    padding: 25px;
    font-size: 20px;
    color: #f62682;
}
